<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanbin.dao.FlightMapper">
    <resultMap id="BaseResultMap" type="com.yanbin.pojo.Flight">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="offtime" property="offtime" jdbcType="TIME"/>
        <result column="endtime" property="endtime" jdbcType="TIME"/>
        <result column="airport" property="airport" jdbcType="VARCHAR"/>
        <result column="duration" property="duration" jdbcType="VARCHAR"/>
        <result column="transit" property="transit" jdbcType="VARCHAR"/>
        <result column="fprice" property="fprice" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="DATE"/>
        <result column="startcity" property="startcity" jdbcType="VARCHAR"/>
        <result column="endcity" property="endcity" jdbcType="VARCHAR"/>

        <collection property="websites" column="id" ofType="Website" select="selectByWebsite"></collection>

        <!--<collection property="website" ofType="com.yanbin.pojo.Website">
            <id column="fid" property="id" />
            <result column="ticket" property="ticket" />
            <result column="price" property="price" />
            <result column="fid" property="fid" />
        </collection>-->
    </resultMap>

    <sql id="Base_Column_List">
    id, model, offtime, endtime, airport, duration, transit, fprice, time, startcity, 
    endcity
  </sql>


    <!--查询所有的信息列表展示-->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">

      select f.id, f.model, f.offtime, f.endtime, f.airport, f.duration, f.transit, f.fprice, w.ticket, w.price, w.fid
      from flight as f
      LEFT OUTER  JOIN website as w
      on f.id = w.fid
      where f.id = #{id}
    </select>


    <!-- 根据id进行票价搜索查询 -->
    <select id="selectByWebsite" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      select w.id, w.ticket, w.price
      from website as w
      where fid = #{id}
    </select>

    <!--根据条件进行查询-->
    <select id="selectByDayAndCrity" resultMap="BaseResultMap">

        SELECT * from flight where time like '%2018-12-12%'
    </select>


</mapper>